<div [ngClass]="{'mt-5': filter === 'completed'}">                                                <!--ngClass adds margin in completed section-->
  <div class="form-check form-switch d-flex justify-content-center d-grid gap-3 mt-2 col-md-12"
    *ngFor="let todo of todosFiltered()">

    <app-card [classes]="todo.done ? 'line-through' : 'normal'">
      <ng-container data-body>
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="todo.done">
        <span *ngIf="!todo.editable; else editingTask" class="d-flex justify-start">{{todo.description}}</span>
        <ng-template #editingTask>
          <input type="text" class="d-flex justify-start" [(ngModel)]="todo.description">
        </ng-template>
        <span class="mx-5">Added: {{todo.data | date: 'dd/MM/yyyy'}}</span>
      </ng-container>

      <ng-container data-buttons *ngIf="filter !== 'completed'; else deleteTemplate">
        <button (click)="editTodo.emit(todo)"><img class="inline px-2" src="../../assets/edit-icon.svg"
          alt="edit-icon"></button>
        <button (click)="saveTodo.emit(todo)"><img class="inline px-2" src="../../assets/save-icon.svg"
          alt="save-icon"></button>
      </ng-container>
      <ng-template #deleteTemplate>
        <button (click)="deleteTodo.emit(todo)"><img class="inline px-2" src="../../assets/delete-icon.svg"
            alt="delete-icon"></button>
      </ng-template>
    </app-card>

  </div>
</div>

<div *ngIf="filter === 'completed'">
  <div class="flex justify-center" *ngIf="todosFiltered().length > 0; else noCompleted">
    <button (click)="deleteAllTodo.emit()"
      class="bg-gray-900  hover:bg-gray-700 text-gray-300 font-bold py-2 px-4 mt-4 border border-blue-700 rounded">Delete
      All
      <img class="inline pl-5 py-2" src="../../assets/delete_all-icon.svg" alt="delete_all-icon">
    </button>
  </div>
</div>

<ng-template #noCompleted>
  <div class="flex justify-center">
    <div class="bg-gray-900 text-gray-300 font-bold py-2 px-4 mt-4 rounded opacity-50 disabled cursor-not-allowed">
      Delete All
      <img class="inline pl-5 py-2" src="../../assets/delete_all-icon.svg" alt="delete_all-icon">
    </div>
  </div>
</ng-template>
