<div>
  <nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-center h-16">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img class="h-8 w-8" src="../../../assets/check-icon.svg" alt="Home-icon">
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <button
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium no-underline"
                [ngClass]="{'active bg-gray-900': filter === 'all'}" (click)="filt('all')">All</button>
              <button
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium no-underline"
                [ngClass]="{'active bg-gray-900': filter === 'active'}" (click)="filt('active')">Active</button>
              <button
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium no-underline"
                [ngClass]="{'active bg-gray-900': filter === 'completed'}" (click)="filt('completed')">Completed</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="md:hidden" id="mobile-menu">
      <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
        <button
          class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium no-underline"
          [ngClass]="{'active bg-gray-900': filter === 'all'}" >All</button>
        <button
          class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium no-underline"
          [ngClass]="{'active bg-gray-900': filter === 'active'}">Active</button>
        <button
          class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium no-underline"
          [ngClass]="{'active bg-gray-900': filter === 'completed'}">Completed</button>
      </div>
    </div>
  </nav>
</div>


